# Make sure to use Python 3.11.x Version

--extra-index-url https://download.pytorch.org/whl/cu126    # torch-gpu
# --extra-index-url https://download.pytorch.org/whl/cpu      # torch-cpu


Flask
flask-cors
psutil
openai-whisper
numpy
SpeechRecognition
flask-socketio
torch
torchvision
torchaudio
edge-tts
pygame
thefuzz
pyautogui
pygetwindow
screen_brightness_control
pyinstaller
pyaudio